.form-box {
    background: #fffbea;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.btn-save {
    background: #2f855a;
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

body.dark-mode .form-box {
    background: #1f1f1f;
    border: 1px solid #333;
}

body.dark-mode .input {
    background: #2a2a2a;
    border: 1px solid #444;
    color: #f0f0f0;
}

body.dark-mode .input::placeholder {
    color: #bbbbbb;
}

body.dark-mode .btn-save {
    background: #38a169;
}

body.dark-mode .btn-save:hover {
    background: #2f855a;
}

